/press/app/logs/*/*/*
/press/app/cache/*/*
/press/app/tmp/*
!/press/app/tmp/.gitkeep

/packages/structure/classes/model/*
/packages/structure/tests/model/*
/packages/structure/migrations/*
!/packages/structure/migrations/.gitkeep

/vendor/*
!/vendor/.gitkeep
/composer.lock

/common/config/crypt.php
