[submodule "core"]
	path = core
	url = git://github.com/fuel/core.git
[submodule "packages/oil"]
	path = packages/oil
	url = git://github.com/fuel/oil.git
[submodule "packages/orm"]
	path = packages/orm
	url = git://github.com/fuel/orm.git
