/press/app/logs/*/*/*
/press/app/cache/*/*
/press/app/tmp/*
!/press/app/tmp/.gitkeep

/packages/post/classes/model/*
/packages/post/tests/model/*
/packages/post/migrations/*
!/packages/post/migrations/.gitkeep

/vendor/*
!/vendor/.gitkeep
/composer.lock

/common/config/crypt.php
