/press/app/logs/*/*/*
/press/app/cache/*/*
/press/app/tmp/*
!/press/app/tmp/.gitkeep

/packages/post/classes/model/*
/packages/post/tests/*
/packages/post/config/post.php

/vendor/*
!/vendor/.gitkeep
/composer.lock

/common/config/crypt.php
