<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" stopOnFailure="false" bootstrap="bootstrap_phpunit.php">
	<php>
		<server name="doc_root" value="../"/>
		<server name="app_path" value="app"/>
		<server name="core_path" value="../core"/>
		<server name="package_path" value="../packages"/>
		<server name="common_path" value="../common"/>
		<server name="vendor_path" value="../vendor"/>
		<server name="FUEL_ENV" value="test"/>
	</php>
	<testsuites>
		<testsuite name="app">
			<directory suffix=".php">tests</directory>
		</testsuite>
		<testsuite name="structure">
			<directory suffix=".php">../../packages/structure/tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
